{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [
	{aesophia_rebar_plugin, {git, "https://github.com/aeternity/aesophia_rebar_plugin", {ref, "df113cc"}}}
]}.

{pre_hooks, [
	% Make sure to keep './data/aehyperchains/' dir
	{compile, "rebar3 aesophia -s v4.3.1 -c ./priv/SimpleElection.aes -o ./../../../../data/aehyperchains/StakingContract.json"}
]}.
