{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [
	{aesophia_rebar_plugin, {git, "https://github.com/aeternity/aesophia_rebar_plugin", {ref, "df113cc"}}}
]}.

{pre_hooks, [
	% Make sure to keep './data/aehyperchains/' dir
	% 'profile_dir' would seem useful if we ever need to make the build more complex,
	% but definitely not now.
	{compile, "rebar3 aesophia -s v4.3.1 -c ./contracts/Election.aes -o ./../../../../data/aehyperchains/StakingContract.json"}
]}.
